<h1>Sign Up</h1>
<form action="" class="form">
  <label class="form__label"> Username
    <input type="text" class="form__input">
  </label>
  <label class="form__label"> First Name
    <input type="text" class="form__input">
  </label>
  <label class="form__label"> Surname
    <input type="text" class="form__input">
  </label>
  <label class="form__label"> Email
    <input type="text" class="form__input">
  </label>
  <label class="form__label"> Password
    <input type="password" class="form__input">
  </label>
  <label class="form__label"> Repeat Password
    <input type="password" class="form__input">
  </label>
  <button type="submit" class="btn">Register</button>
</form>
<a class="" href="/login">Login</a>
